body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.mainContentWrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navbar {
  border-bottom: 1px solid #E5E5E5;
  padding: 0;
  text-transform: uppercase;
}

.navbar--white {
  background: #fff;
}

.navbar .nav-item {
  padding: 0 1rem;
}

.navbar .nav-item:first-of-type {
  padding-left: 0;
}

.navbar .nav-link {
  color: #363636;
  padding: 1rem 0;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 2px solid transparent;
}

.navbar .nav-link:hover {
  color: #1428A0;
  border-bottom: 2px solid #1428A0;
}

.navbar.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
}

.footer {
  background: #1428A0;
}

.footer svg {
  width: 60px;
  padding: 10px 0;
}

.btn-buy {
  border-radius: 25px;
  border: 1px solid #000;
  padding: 7px 15px 6px;
  font-weight: 100;
  background: none;
  color: #000;
}

.btn-buy:hover {
  background: #1428A0;
  border-color: #1428A0;
  color: #fff;
}

.prodItem {
  border: 1px solid #b4bcbf;
  margin-bottom: 30px;
  padding: 30px;
}

.prodItem__name {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: .5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #1428A0;
  font-weight: 300;
  height: 55px;
}

.prodItem__imgInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prodItem__price {
  font-size: 1.8rem;
  margin: .5rem 0;
  text-align: right;
}

.prodItem__amount, .prodItem__discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: .5rem;
}

.prodItem__amount span, .prodItem__discount span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: .25rem;
}

.prodItem__amount input, .prodItem__discount input {
  border: none;
  width: 4em;
  text-align: right;
  border-bottom: 1px dotted #b4bcbf;
}

.prodItem__priceSmall {
  text-align: right;
  color: #b4bcbf;
}

.prodItem__delete {
  color: #C40000;
  text-align: right;
  border-top: 1px solid #b4bcbf;
  margin-top: .5rem;
  padding-top: .5rem;
}

.prodItem__delete:hover {
  cursor: pointer;
  color: darker(#C40000, 15%);
  text-decoration: underline;
}

.guidepost a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F5F5;
  height: 140px;
  font-size: 2rem;
  font-weight: 400;
  color: #363636;
  margin-bottom: 30px;
  padding: 0 2rem;
}

.guidepost a svg {
  fill: #363636;
  height: 100%;
  width: 100%;
  max-height: 70px;
  max-width: 80px;
  margin-right: 2rem;
}

.guidepost a:hover {
  background: #e8e8e8;
  text-decoration: none;
}

#notifications {
  position: fixed;
  right: 20px;
  top: 80px;
  opacity: 0;
}

#notifications a {
  color: #fff;
}

.addToText {
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px 1px #A6A6A6;
  box-shadow: 0 0 10px 1px #A6A6A6;
  font-size: 100%;
  padding: 15px;
}

#notifications.show {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#notifications.hide {
  opacity: 0 !important;
  -webkit-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
}

.cartInfo svg {
  width: 20px;
}

.cartInfo a {
  position: relative;
}

.cartInfo a span {
  position: absolute;
  text-align: center;
  left: 7px;
  top: -6px;
  font-size: .75rem;
  color: #000;
}

.cartForm {
  background: #F5F5F5;
  margin-bottom: 2rem;
}

.cartForm input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #b4bcbf;
  background: none;
  font-size: 1.1rem;
  margin-top: .75rem;
}

.cartForm > .row {
  padding: 0 2rem;
}

.cartForm > .row > div:nth-child(2) {
  border-left: 1px solid #A6A6A6;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cartForm__discount {
  font-size: 1.3rem;
  font-weight: 200;
}

.cartForm__price {
  font-size: 1.8rem;
  font-weight: 400;
}

.overview {
  margin-bottom: 30px;
}

.overviewItem {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border: 1px solid #b4bcbf;
}

.overviewItem p {
  margin-bottom: 0;
}

.overviewItem__btns {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.overviewItem__btns p {
  margin-top: .5rem;
}

.overviewFilter {
  border-bottom: 1px solid #b4bcbf;
  margin: 1rem auto;
  padding-bottom: 1rem;
}

.overviewFilter .form-check {
  margin-right: 2rem;
}

.overviewFilter .form-check input {
  margin-right: .25rem;
}

.overviewFilter .form-check:last-child {
  margin-right: 0;
}

.overviewItemProducts li {
  color: #C40000;
}

.overviewItemProducts li.skladem {
  color: #0d8c00;
}

.zakaznikEmail {
  margin: 2rem auto;
  font-size: 1.5rem;
}

.zakaznikEmail input {
  border: none;
  border-bottom: 1px dotted #b4bcbf;
  margin-left: .5rem;
}

.zakaznikEmail button {
  border: 1px solid #b4bcbf;
  background: none;
  cursor: pointer;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.zakaznikEmail button:hover {
  background: #F5F5F5;
}

.searchBox {
  padding: 1rem 0;
  background: #F5F5F5;
}

.searchBox input {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none;
  border-bottom: 1px dotted #b4bcbf;
  background: none;
  font-size: 1.2rem;
  margin-right: 1rem;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.searchBox input:focus {
  border-bottom-style: solid;
}

.searchBox button {
  border: 1px solid #b4bcbf;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.searchBox button:hover {
  background: #fff;
}

.breadcrumb {
  background: none;
  border-radius: none;
}

.breadcrumb li {
  border-bottom: 1px solid #b4bcbf;
}

@-webkit-keyframes uilsquare {
  0% {
    background-color: #0090e3;
  }
  1% {
    background-color: #50d8fe;
  }
  11% {
    background-color: #50d8fe;
  }
  21% {
    background-color: #0090e3;
  }
  100% {
    background-color: #0090e3;
  }
}

@-webkit-keyframes uilsquare {
  0% {
    background-color: #0090e3;
  }
  1% {
    background-color: #50d8fe;
  }
  11% {
    background-color: #50d8fe;
  }
  21% {
    background-color: #0090e3;
  }
  100% {
    background-color: #0090e3;
  }
}

@-webkit-keyframes uilsquare {
  0% {
    background-color: #0090e3;
  }
  1% {
    background-color: #50d8fe;
  }
  11% {
    background-color: #50d8fe;
  }
  21% {
    background-color: #0090e3;
  }
  100% {
    background-color: #0090e3;
  }
}

@keyframes uilsquare {
  0% {
    background-color: #0090e3;
  }
  1% {
    background-color: #50d8fe;
  }
  11% {
    background-color: #50d8fe;
  }
  21% {
    background-color: #0090e3;
  }
  100% {
    background-color: #0090e3;
  }
}

.uil-squares-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}

.uil-squares-css div {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: #0090e3;
}

.uil-squares-css div > div {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: uilsquare 1s linear infinite;
  animation: uilsquare 1s linear infinite;
  width: 40px;
  height: 40px;
}

.uil-squares-css > div:nth-of-type(1) {
  top: 30px;
  left: 30px;
}

.uil-squares-css > div:nth-of-type(1) > div {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.uil-squares-css > div:nth-of-type(2) {
  top: 30px;
  left: 80px;
}

.uil-squares-css > div:nth-of-type(2) > div {
  -webkit-animation-delay: 0.125s;
  animation-delay: 0.125s;
}

.uil-squares-css > div:nth-of-type(3) {
  top: 30px;
  left: 130px;
}

.uil-squares-css > div:nth-of-type(3) > div {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.uil-squares-css > div:nth-of-type(4) {
  top: 80px;
  left: 130px;
}

.uil-squares-css > div:nth-of-type(4) > div {
  -webkit-animation-delay: 0.375s;
  animation-delay: 0.375s;
}

.uil-squares-css > div:nth-of-type(5) {
  top: 130px;
  left: 130px;
}

.uil-squares-css > div:nth-of-type(5) > div {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.uil-squares-css > div:nth-of-type(6) {
  top: 130px;
  left: 80px;
}

.uil-squares-css > div:nth-of-type(6) > div {
  -webkit-animation-delay: 0.625s;
  animation-delay: 0.625s;
}

.uil-squares-css > div:nth-of-type(7) {
  top: 130px;
  left: 30px;
}

.uil-squares-css > div:nth-of-type(7) > div {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.uil-squares-css > div:nth-of-type(8) {
  top: 80px;
  left: 30px;
}

.uil-squares-css > div:nth-of-type(8) > div {
  -webkit-animation-delay: 0.875s;
  animation-delay: 0.875s;
}

.loading {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1000000;
}

.loading .loadingInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */